<header class="d-flex flex-column justify-content-center">
    <div class="d-flex flex-column align-items-center mt-3">
      <h1 class="titulo">LOBO ESTEPARIO</h1>
      <h3 class="text-secondary">Wiki</h3>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
      <div class="container-fluid">
        <div
          class="collapse navbar-collapse d-flex justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav w-100 d-flex justify-content-around">
            <li class="nav-item">
              <a
                class="nav-link d-flex flex-column align-items-center"
                aria-current="page"
                href="index.html"
                ><i class="fa-solid fa-house"></i>Inicio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex flex-column align-items-center"
                href="biografia.html"
                ><i class="fa-solid fa-book"></i>Biografía</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex flex-column align-items-center"
                href="legado.html"
                ><i class="fa-solid fa-star"></i>Legado</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex flex-column align-items-center"
                href="galeria.html"
                ><i class="fa-solid fa-photo-film"></i>Galería</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex flex-column align-items-center"
                href="contacto.html"
                ><i class="fa-solid fa-user"></i>Contacto</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>